.menu-item {
    position: fixed;
    top: 50%;
    left: 2em;
    background-color: var(--bg-primary);
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.menu-active {
    
    .menu-item {
        visibility: visible;
        opacity: 1;
    }
}
