.about-section {

    h4 {
        font-size: 2rem;
    }

    .programming-icons {

        svg {
            margin-left: 1rem;
            width: 1.5rem;
            height: 1.5rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}